@import "fontface";
@import "normalizeThings";


/*=======
Colour Variables
=======*/
$white : #FFFFFF;
$black : #231F20;
$grey : #BCBEC0;
$pink : #EE235C;
$darkPink : #AA1d41;
$footer : #2C3E50;


/*=======
Text Mixins
=======*/

@mixin text--subheader {
  color: $black;
  font-family: 'Qanelas';
  text-transform:uppercase;
  font-size:30px;
}

/*=======
Style Mixins
=======*/

@mixin button--basic {
  position: relative;
  background:$pink;
  text-transform:uppercase;
  font-family:'Roboto';
  font-weight:300;
  padding:5px 0;
  letter-spacing:5px;
  transition:all 0.3s;
  overflow:hidden;
  cursor:pointer;

  &:before {
    position: absolute;
    content:"";
    bottom:0;
    left:0;
    width:100%;
    height:6px;
    z-index:10;
    background-color:$darkPink;
  }

  &:after {
    position: absolute;
    content:"";
    top:0;
    left:0;
    width:100%;
    height:0;
    z-index:10;
    background-color:$white;
    transition:all 0.7s;
  }

  &:hover {
    color:$pink;
  }

  &:hover:after {
    height:300px;
  }

  p {
    font-family:"Roboto";
    position: relative;
    z-index:20;
  }
}

@mixin area--patterns {
  width:100%;
  height:300px;
  background-color:$grey;
  position: relative;
}



body {
  font-family: 'Qanelas', 'Roboto', sans-serif;
}

.header {
  position: relative;
  width:100%;
  background-color:rgba(0,0,0,0.5);
  color:$white;
  text-align:center;
  padding:10px 0 60px 0;

  &:after {
  content: "";
  position: absolute;
  background-image: url(images/header-background.png);
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 1; /* Tone the image down further by giving it transparency */
}

.area__search {
  height:34px;
  width:260px;
  border:2px solid $white;
  border-radius:2px;
  margin:10px 40px 0 0;
  float:right;
  position: relative;

  &:before {
    content:"";
    position: absolute;
    left:10px;
    top:0;
    width:30px;
    height:50px;
    background-image:url(images/search-icon.png);
    background-size:70%;
    background-repeat:no-repeat;
    background-position:center 10%;
  }

 input {
  position: relative;
  background:transparent;
  border:none;
  left:20px;
  font-family:"Roboto";
  color:$white;
  font-weight:400;
  width:210px;
  height:28px;
  padding:0 5px;

  }
 }

  h1 {
    position: relative;
    left:-1200px;
  }

  img {
    max-width:600px;
    width:60%;
    margin-top:20px;
  }

  .subheader {
    font-family:"Roboto";
    text-transform:uppercase;
    font-size:20px;
    margin:20px 0 40px 0;
  }

  .button__view-gallery {
    @include button--basic;
    width:234px;
    margin:20px auto 0 auto;
  }//.button__view-gallery
}//.header

.info {
  padding:60px 230px;

  h2 {
    @include text--subheader;
    margin-top:0;
  }

  p {
    font-family:"Roboto";
    font-weight:300;
    font-size:24px;
  }

  .area__signup {
    width:100%;
    display:flex;

    input {
      background-color:$grey;
      font-size:24px;
      padding:0 20px;
      border:none;
      font-family:'Roboto';
      font-weight:300;
      border-radius:2px;
    }

    .button--signup {
      @include button--basic;
      text-align:center;
      width:234px;
      color:$white;
      font-weight:300;
      margin:0 30px;

      p {
      font-size:18px;
      }
    }
  }

}

.pattern {
  @include area--patterns;

  .area__info {
    width:50%;
    padding:10px;
    background-color:$white;
    position: absolute;
    left:0;
    bottom:0;
    display:flex;
    justify-content:space-between;
  }

  .area__text {

    h3 {
      @include text--subheader;
      margin: 0;
    }

    p {
      font-family:'Roboto';
      font-weight:300;
      font-size:24px;
      margin: 0;
    }
  }

  .area__icons {
    display:flex;
    padding:10px;

    .icon--zoom {
      width:40px;
      height:40px;
      background-image:url(images/zoom-icon.png);
      background-size:90%;
      background-repeat:no-repeat;
      margin-right: 20px;
      cursor:pointer;
    }

    .icon--expand {
      width:40px;
      height:40px;
      background-image:url(images/expand-icon.png);
      background-size:90%;
      background-repeat:no-repeat;
      background-position:center 50%;
      margin-right: 25px;
      cursor:pointer;
    }

    .button--download {
      @include button--basic;
      width:40px;
      height:40px;
      text-align:center;

      .icon--download {
        width:60%;
        position: absolute;
        z-index:30;
        left:8px;
        transition:all 0.7s;
      }

      .icon--download-hover {
        width: 60%;
        position: absolute;
        z-index:20;
        left:8px;
      }

      &:hover .icon--download {
        opacity:0;
      }
    }
  }
}

.pattern-one {
  background-image:url(images/computer.png);
}

.pattern-two {
  background-image:url(images/hs.png);
}

.pattern-three {
  background-image:url(images/ivy.png);
}

footer {
  font-family:'Roboto';
  font-weight:300;
  color:$white;
  padding:20px;
  background-color: $footer;
}

